body {
  margin: 0;
  font-family: sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #edf1f5;
}

.header {
  background-color: #135390;
  color: #fff;
  padding: 0.8rem;
  font-size: 2rem;
}

.card {
  padding: 1.5rem;
  margin: 1rem;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid transparent;
  font-weight: 100;
}

.pablo h4{
  font-size: 2rem;
  color: crimson;
}

.pablo p{
  color: #135390;
}

